<div class="container p-5">
  <div class="row">
    <div class="col-md-4 footerMtMobile col-xl-4 col-xl-4 col-sm-12 col-xs-12 flex-direction-column">
      <h5>FRANCE</h5>
      <button class="footerValue d-flex align-items-center"><i class="ri-phone-fill ri-xl"></i>&nbsp;&nbsp; +216 50 222 820</button>
      <button class="footerValue d-flex align-items-center"><i class="ri-mail-line ri-xl"></i>&nbsp;&nbsp; info@bakomotors.com</button>
      <button class="footerValue d-flex align-items-center"><i class="ri-map-pin-line ri-xl"></i>&nbsp;&nbsp; Truderingerstr 564 München, Deutschland</button>
    </div>
    <div class="col-md-4  col-xl-4 col-xl-4 col-sm-12 col-xs-12 flex-direction-column">
      <h5>ALLEMAGNE</h5>
      <button class="footerValue d-flex align-items-center"><i class="ri-phone-fill ri-xl"></i>&nbsp;&nbsp; +216 50 222 820</button>
      <button class="footerValue d-flex align-items-center"><i class="ri-mail-line ri-xl"></i>&nbsp;&nbsp; info@bakomotors.com</button>
      <button class="footerValue d-flex align-items-center"><i class="ri-map-pin-line ri-xl"></i>&nbsp;&nbsp; Truderingerstr 564 München, Deutschland</button>
    </div>
    <div class="col-md-4 footerMtMobile col-xl-4 col-xl-4 col-sm-12 col-xs-12 flex-direction-column">
      <h5>TUNISIE</h5>
      <button class="footerValue d-flex align-items-center"><i class="ri-phone-fill ri-xl"></i>&nbsp;&nbsp; +216 50 222 820</button>
      <button class="footerValue d-flex align-items-center"><i class="ri-mail-line ri-xl"></i>&nbsp;&nbsp; info@bakomotors.com</button>
      <button class="footerValue d-flex align-items-center"><i class="ri-map-pin-line ri-xl"></i>&nbsp;&nbsp; Truderingerstr 564 München, Deutschland</button>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-4 mt-2 col-xl-4 col-xl-4 col-sm-12 col-xs-12 flex-direction-column">
      <div class="col-12 footerSubtitle">OUR SOCIAL MEDIA</div>
      <div class="col-12 mt-3 flex-direction-rows">
        <button class="footerMedia d-flex align-items-center justify-content-center"><i class="ri-facebook-fill ri-xl"></i></button>
        <button class="footerMedia d-flex align-items-center justify-content-center"><i class="ri-linkedin-fill ri-xl"></i></button>
        <button class="footerMedia d-flex align-items-center justify-content-center"><i class="ri-youtube-fill ri-xl"></i></button>
      </div>
    </div>
    <div class="col-md-4 footerMtMobile col-xl-4 col-xl-4 col-sm-12 col-xs-12 flex-direction-column">
      <div class="col-12 footerSubtitle">KEEP IN TOUCH</div>
      <div class="col-12 mt-3 flex-direction-rows">
        <input class="footerInputStyle" type="email" placeholder="Enter your email...">
        <button class="footerSend d-flex align-items-center justify-content-center"><i class="ri-send-plane-2-fill ri-lg"></i></button>
      </div>
    </div>
    <div class="col-md-4 footerMtMobile d-flex align-items-end col-xl-4 col-xl-4 col-sm-12 col-xs-12">
      <div class="col-12 weight-600 text-center"><font>Bako  &copy; 2022</font><font class="privacy">Privacy and legacy</font></div>
    </div>
  </div>
</div>
