
body {
  height: 1400px;
  margin: 0 auto;
}

.positionAnimation {
    background-color: black;
    color: white;
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    min-height:calc(90vh - 0px);
    max-height:calc(90vh - 0px);
    overflow-x:hidden;
    overflow-y:hidden;
    border-radius:0;
}

.stickyFrame{
position:relatif;
min-height:calc(90vh - 0px);
max-height:calc(90vh - 0px);
width:auto;
overflow-y:auto;
overflow-x:hidden;
}

.stickyRow{
width:100%;
height:auto;
}

.textHover{
position:absolute;
top:0;
left:0;
height:90vh;
width:100%;
color:white;
text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
font-weight:400;
font-size:50px;
}


font{
cursor:pointer;
}

.animationRow{
height:auto;
width:100%;
}
