<div class="stickyFrame">
  <div class="stickyRow">
    <mat-card class="positionAnimation d-flex align-items-center">
      <div class="animationRow">
        <img mat-card-image src="../../assets/imgs/img1.jpg">
      </div>
      <div class="textHover d-flex align-items-center justify-content-center"><font class="hvr-grow">Easy driving</font></div>
    </mat-card>
    <mat-card class="positionAnimation d-flex align-items-center">
      <div class="animationRow">
        <img mat-card-image src="../../assets/imgs/img4.png">
      </div>
      <div class="textHover d-flex align-items-center justify-content-center"><font class="hvr-grow">Long battery life</font></div>
    </mat-card>
    <mat-card class="positionAnimation d-flex align-items-center">
      <div class="animationRow">
        <img mat-card-image src="../../assets/imgs/tech3.jpg">
      </div>
      <div class="textHover d-flex align-items-center justify-content-center"><font class="hvr-grow">Not like a box, but a brain</font></div>
    </mat-card>
    <mat-card class="positionAnimation d-flex align-items-center">
      <div class="animationRow">
        <img mat-card-image src="../../assets/imgs/tech2.jpg">
      </div>
      <div class="textHover d-flex align-items-center justify-content-center"><font class="hvr-grow">Found your bako anywhere</font></div>
    </mat-card>
  </div>



</div>
