<div class="container p-0 height-after">

  <mat-card class="matCardRequest mt-4">
    <div class="row">
      <div class="col-12">
        <h5 class="mt-4 uppercase" align="center">pre-order</h5>
        <div class="col-12 mt-3 d-flex justify-content-center"><div class="lineForm"></div></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xl-6 col-lg-6 col-sm-12 col-xs-12">
        <div class="row mt-4">
          <div class="col-12">
            <h6 align="center" style="opacity:0.9">Choose your Bako model</h6>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12 p-0 d-flex">
            <div class="col-4 flex-column">
              <div class="width-100 d-flex justify-content-center">
                <label class="width-100 position-relative d-flex justify-content-center" for="b1">
                  <mat-card class="bakoExemple pb-0">
                    <img class="bakoExempleImage" mat-card-image src="../../assets/imgs/img13.jpg">
                  </mat-card>
                  <span class="descMsg">Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire</span>
                </label>
              </div>
              <div class="width-100 descriptionExemple d-flex justify-content-center align-items-center">
                <input checked="checked" id="b1" name="bako" type="radio"/><label for="b1">&nbsp;&nbsp;Bako b10</label>
              </div>
            </div>
            <div class="col-4 flex-column">
              <div class="width-100 d-flex justify-content-center">
                <label class="width-100 position-relative d-flex justify-content-center" for="b2">
                  <mat-card class="bakoExemple pb-0">
                    <img class="bakoExempleImage" mat-card-image src="../../assets/imgs/img11.jpg">
                  </mat-card>
                  <span class="descMsg">Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire</span>
                </label>
              </div>
              <div class="width-100 descriptionExemple d-flex justify-content-center align-items-center">
                <input id="b2" name="bako" type="radio"/><label for="b2">&nbsp;&nbsp;Bako b15</label>
              </div>
            </div>
            <div class="col-4 flex-column">
              <div class="width-100 d-flex justify-content-center">
                <label class="width-100 position-relative d-flex justify-content-center" for="b3">
                  <mat-card class="bakoExemple pb-0">
                    <img class="bakoExempleImage" mat-card-image src="../../assets/imgs/img10.jpg">
                  </mat-card>
                  <span class="descMsg">Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire</span>
                </label>
              </div>
              <div class="width-100 descriptionExemple d-flex justify-content-center align-items-center">
                <input id="b3" name="bako" type="radio"/><label for="b3">&nbsp;&nbsp;Bako b20</label>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-6 col-xl-6 col-lg-6 col-sm-12 col-xs-12">
        <form class="mt-3">
          <div class="col-12 d-flex justify-content-center">
            <input class="faqInput" type="text" placeholder="Your name...">
          </div>
          <div class="col-12 d-flex justify-content-center">
            <input class="faqInput" type="email" placeholder="Enter your email...">
          </div>
          <div class="col-12 d-flex justify-content-center">
            <textarea class="commentArea" placeholder="Add a comment..."></textarea>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <button class="sendBtn hvr-hang d-flex align-items-center justify-content-center"><i class="ri-shopping-cart-fill ri-lg"></i>&nbsp;&nbsp;Pre order</button>
          </div>
        </form>
      </div>
    </div>
  </mat-card>
</div>
<footer>
  <app-footer></app-footer>
</footer>
