<div class="container-fluid p-0 m-0 desktop-and-tablet">
  <div class="row position-relative">
    <div class="backgroundFrame p-0 d-flex align-items-center">
      <div class="backgroundRow">
        <img class="backgroundImage" src="../../assets/imgs/img7.jpg"/>
      </div>
    </div>
    <div class="backgroundAbsolute"></div>
    <div class="row d-flex justify-content-center align-items-center position-absolute rowAbsolute">
      <div class="col-3">
        <mat-card (click)="changeDix()" class="cardLink" *ngIf="!bDix">
          <mat-card-header>
            <mat-card-title>B10</mat-card-title>
            <mat-card-subtitle>Flexibilité - Rapidité - Securité</mat-card-subtitle>
            <mat-card-subtitle><button class="discoverBtn">Decouvrir</button></mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <mat-card (click)="changeDix()" *ngIf="bDix" class="outline cardLink">
          <mat-card-header>
            <mat-card-title>B10</mat-card-title>
            <mat-card-subtitle>Flexibilité - Rapidité - Securité</mat-card-subtitle>
            <mat-card-subtitle><button class="discoverBtn">Decouvrir</button></mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="col-3">
        <mat-card (click)="changeVingt()" class="cardLink" *ngIf="!bVingt">
          <mat-card-header>
            <mat-card-title>B15</mat-card-title>
            <mat-card-subtitle>Fiabilité - Confort - Securité</mat-card-subtitle>
            <mat-card-subtitle><button class="discoverBtn">Decouvrir</button></mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <mat-card (click)="changeVingt()" *ngIf="bVingt" class="outline cardLink">
          <mat-card-header>
            <mat-card-title>B15</mat-card-title>
            <mat-card-subtitle>Fiabilité - Confort - Securité</mat-card-subtitle>
            <mat-card-subtitle><button (click)="changeVingt()" class="discoverBtn">Decouvrir</button></mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="col-3">
        <mat-card (click)="changeTrente()" class="cardLink" *ngIf="!bTrente">
          <mat-card-header>
            <mat-card-title>B20</mat-card-title>
            <mat-card-subtitle>Puissance - Rapidité - Securité</mat-card-subtitle>
            <mat-card-subtitle><button class="discoverBtn">Decouvrir</button></mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <mat-card (click)="changeTrente()" *ngIf="bTrente" class="outline cardLink">
          <mat-card-header>
            <mat-card-title>B20</mat-card-title>
            <mat-card-subtitle>Puissance - Rapidité - Securité</mat-card-subtitle>
            <mat-card-subtitle><button class="discoverBtn">Decouvrir</button></mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid p-0 m-0 mobile-display">
  <div class="row position-relative">
    <div class="backgroundFrame p-0 d-flex align-items-center">
      <div class="backgroundRow">
        <img class="backgroundImage" src="../../assets/imgs/img7.jpg"/>
      </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center position-absolute mobileRow rowAbsolute">
      <div class="col-12 text-center">
        <h4 class="color-white">Qorax</h4>
        <p class="color-white">Retrouver les différents modèles du véhicule selon leurs spécifités</p>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <button (click)="changeDix()" *ngIf="!bDix" class="mbDiscoverBtn">BAKO B10</button>
        <button (click)="changeDix()" *ngIf="bDix" class="mbDiscoverBtn outline">BAKO B10</button>
        <button (click)="changeVingt()" *ngIf="!bVingt" class="mbDiscoverBtn">BAKO B20</button>
        <button (click)="changeVingt()" *ngIf="bVingt" class="mbDiscoverBtn outline">BAKO B20</button>
        <button (click)="changeTrente()" *ngIf="!bTrente" class="mbDiscoverBtn">BAKO B30</button>
        <button (click)="changeTrente()" *ngIf="bTrente" class="mbDiscoverBtn outline">BAKO B30</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
<!--  <div *ngIf="bDix">b10</div>-->
<!--  <div *ngIf="bVingt">b20</div>-->
<!--  <div *ngIf="bTrente">b30</div>-->
  <div class="row mt-4">
    <div class="col-3 desktop-and-tablet">
      <h4 class="uppercase carac-size">CHARACTERISTICS</h4>
      <table class="mt-4 mobile-right-align" width="100%">
        <tr>
          <td class="weight-600">MODEL</td>
          <td class="weight-600">POWER</td>
        </tr>
        <tr>
          <td class="value">B10</td>
          <td class="value">50km/h</td>
        </tr>
        <tr>
          <td class="weight-600">CAPACITY</td>
          <td class="weight-600">PRICE</td>
        </tr>
        <tr>
          <td class="value">2 persons</td>
          <td class="value">12.000DT</td>
        </tr>
        <tr>
          <td class="weight-600">MODEL</td>
          <td class="weight-600">POWER</td>
        </tr>
        <tr>
          <td class="value">B10</td>
          <td class="value">50km/h</td>
        </tr>
        <tr>
          <td class="weight-600">CAPACITY</td>
          <td class="weight-600">PRICE</td>
        </tr>
        <tr>
          <td class="value">2 persons</td>
          <td class="value">12.000DT</td>
        </tr>
      </table>
      <button class="discoverDesktopBtn desktop-and-tablet">PRE-ORDER</button>
    </div>
    <div class="col-md-6 col-xl-6 col-lg-6 col-sm-12 col-xs-12 d-flex justify-content-center flex-direction-column">
      <div class="col-12 d-flex justify-content-center">
        <button class="colorBtn colRed position-relative"><span class="descMsg">bako seen in red</span></button>
        <button class="colorBtn colGray position-relative"><span class="descMsg">bako seen in gray</span></button>
        <button class="colorBtn colBlack position-relative"><span class="descMsg">bako seen in black</span></button>
      </div>
      <div class="col-12 d-flex justify-content-center"><img src="../../assets/imgs/carBako.png" width="70%"></div>
    </div>
    <div class="col-md-3 col-xl-3 col-lg-3 col-sm-12 col-xs-12">
      <div class="col-12 mb-5">
        <h5 align="center" class="uppercase desktop-and-tablet carac-size">viewer</h5>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <div class="manette desktop-and-tablet position-relative">
          <button class="topButton d-flex align-items-center justify-content-center"><i class="ri-arrow-up-s-line ri-lg"></i></button>
          <button class="rightButton d-flex align-items-center justify-content-center"><i class="ri-arrow-right-s-line ri-lg"></i></button>
          <button class="bottomButton d-flex align-items-center justify-content-center"><i class="ri-arrow-down-s-line ri-lg"></i></button>
          <button class="leftButton d-flex align-items-center justify-content-center"><i class="ri-arrow-left-s-line ri-lg"></i></button>
          <button class="centerButton selector d-flex align-items-center justify-content-center">A</button>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-display">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4 class="uppercase carac-size" align="center">CHARACTERISTICS</h4>
          <table class="mt-4" align="center" width="100%">
            <tr class="lineBorder" align="center">
              <td class="weight-600">MODEL</td>
              <td class="weight-600">POWER</td>
              <td class="weight-600">POWER</td>
            </tr>
            <tr align="center">
              <td class="value">B10</td>
              <td class="value">50km/h</td>
              <td class="value">50km/h</td>
            </tr>
            <tr class="lineBorder" align="center">
              <td class="weight-600">CAPACITY</td>
              <td class="weight-600">PRICE</td>
              <td class="weight-600">PRICE</td>
            </tr>
            <tr align="center">
              <td class="value">2 persons</td>
              <td class="value">2 persons</td>
              <td class="value">12.000DT</td>
            </tr>
            <tr class="lineBorder" align="center">
              <td class="weight-600">MODEL</td>
              <td class="weight-600">POWER</td>
              <td class="weight-600">POWER</td>
            </tr>
            <tr align="center">
              <td class="value">B10</td>
              <td class="value">50km/h</td>
              <td class="value">50km/h</td>
            </tr>
            <tr class="lineBorder" align="center">
              <td class="weight-600">CAPACITY</td>
              <td class="weight-600">PRICE</td>
              <td class="weight-600">PRICE</td>
            </tr>
            <tr align="center">
              <td class="value">2 persons</td>
              <td class="value">2 persons</td>
              <td class="value">12.000DT</td>
            </tr>
          </table>
          <button class="discoverDesktopBtn desktop-and-tablet">PRE-ORDER</button>
        </div>
      </div>
    </div>
    <div class="navbar viewNav fixed-bottom">
      <div class="container d-flex justify-content-center">
        <div class="row width-100"><div><h6 align="center">VIEWER</h6></div></div>
      </div>
      <ul class="nav width-100 justify-content-center">
        <button class="viewButton d-flex align-items-center justify-content-center"><i class="ri-arrow-left-s-line ri-lg"></i></button>
        <button class="viewButton d-flex align-items-center justify-content-center"><i class="ri-arrow-up-s-line ri-lg"></i></button>
        <button class="viewButton selector d-flex align-items-center justify-content-center">A</button>
        <button class="viewButton d-flex align-items-center justify-content-center"><i class="ri-arrow-down-s-line ri-lg"></i></button>
        <button class="viewButton d-flex align-items-center justify-content-center"><i class="ri-arrow-right-s-line ri-lg"></i></button>
      </ul>
    </div>
  </div>
</div>
<footer>
  <app-footer></app-footer>
</footer>
